{% load static %}

<h2 class="profile_includes_title">Доставки</h2>

{% for delivery in deliveries %}
<a href="{% url 'orders:delivery' delivery.id %}" class="delivery_ref">
    <div class="order_wrapper">

        <div class="order_header">
            <div class="order_id_row">
                <div class="order_title">Номер заказа: </div>
                <div class="order_value">{{ delivery.id }}</div>
            </div>
            <div class="order_status_row">
                <div class="order_title">Статус: </div>
                {% if delivery.status == "В обработке" %}
                    <div class="order_status_processing_value">{{ delivery.status }}</div>
                {% else %}
                    <div class="order_status_prepeared_value">{{ delivery.status }}</div>
                {% endif %}
            </div>
        </div>

        <div class="order_total_row">
            <div class="order_title">Сумма заказа: </div>
            <div class="order_value">{{ delivery.total }} ₽</div>
        </div>

    </div>
</a>

{% endfor %}