{% load static %}

<h2 class="profile_includes_title">История заказов</h2>

{% for order in received_orders %}

<a href="{% url 'orders:received_order' order.id %}" class="received_order_ref">
<div class="order_wrapper">

    <div class="order_header">
        <div class="order_row">
            <div class="order_title">Номер заказа: </div>
            <div class="order_value">{{ order.id }}</div>
        </div>
    </div>

    <div class="order_bottom_row">
        <div class="order_row">
            <div class="order_title">Дата получения: </div>
            <div class="order_value">{{ order.received_timestamp }}</div>
        </div>
        <div class="order_row">
            <div class="order_title">Сумма заказа: </div>
            <div class="order_value">{{ order.total }} ₽</div>
        </div>
    </div>

</div>
</a>

{% endfor %}