{% extends 'base.html'%}

{% block header_right_area %}

<a href="{% url 'home' %}" class="return_to_home_ref">На главную</a>

{% endblock header_right_area %}

{% block main_area %}

<div class="login_wrapper">
    <form class="login_form" method="POST">
        {% csrf_token %}
        <div class="login_main_title">Авторизация</div>
        <div class="login_item">
            <div class="login_title">Логин</div>
            {{ form.username }}
        </div>
        <div class="login_item">
            <div class="login_title">Пароль</div>
            {{ form.password }}
        </div>
        <button class="login_button">Вход</button>
        <a href="{% url 'users:register' %}" class="register_ref">Регистрация</a>
    </form>
</div>

{{form.errors}}

{% endblock main_area %}
