{% extends 'base.html'%}

{% block header_right_area %}

<a href="{% url 'home' %}" class="return_to_home_ref">На главную</a>

{% endblock header_right_area %}

<div class="profile_header"></div>


{% block left_area %}

    <form class="user_data_form">
        <span class="user_data_title">Профиль</span>
        <ul class="user_data_list">
            <li class="user_data_element">
                <div class="user_data_label">Логин</div>
                <div class="user_data_value">{{ user.get_username }}</div>
            </li>
            <li class="user_data_element">
                <div class="user_data_label">Почта</div>
                <div class="user_data_value">{{ user.email }}</div>
            </li>
        </ul>
        <a href="{% url 'users:logout' %}" class="logout_ref">Выйти</a>
    </form>

{% endblock left_area %}


{% block main_area %}

{% if carts %}
    {% include "users/includes/order_confirmation.html" %}
{% else %}
    {% include "users/includes/deliveries.html" %}
{% endif %}

{% endblock main_area %}


{% block right_area %}

<div class="profile_navigation_wrapper">
    <ul class="profile_navigation_list">
        {% if carts %}
        <a class="profile_navigation_text" id="order_confirmation_navigation">Оформление заказа</a>
        {% endif %}
        <a class="profile_navigation_text" id="deliveries_navigation">Доставки</a>
        <a class="profile_navigation_text" id="received_orders_navigation">Полученные заказы</a>
    </ul>
</div>

{% endblock right_area %}