{% extends 'base.html'%}

{% block header_right_area %}

<a href="{% url 'home' %}" class="return_to_home_ref">На главную</a>

{% endblock header_right_area %}

{% block main_area %}

<div class="register_wrapper">
    <form class="register_form">
        <div class="register_title">Регистрация</div>
        <div class="register_nickname_item">
            <div class="register_nickname_title">Логин</div>
            <input type="text" class="register_nickname_input">
        </div>
        <div class="register_password_item">
            <div class="register_password_title">Пароль</div>
            <input type="password" class="register_password_input">
        </div>
        <div class="register_conf_password_item">
            <div class="register_conf_password_title">Подтвердите пароль</div>
            <input type="password" class="register_conf_password_input">
        </div>
        <button class="register_button">Регистрация</button>
        <a href="{% url 'users:login' %}" class="register_ref">Авторизация</a>
    </form>
</div>

{% endblock main_area %}