{% extends 'base.html'%}

{% block header_right_area %}

<a href="{% url 'home' %}" class="return_to_home_ref">На главную</a>

{% endblock header_right_area %}

{% block main_area %}

<div class="register_wrapper">
    <form class="register_form" method="POST">
        {% csrf_token %}

        <div class="register_main_title">Регистрация</div>
        <div class="register_item">
            <div class="register_title">Имя</div>
            {{ form.username }}
        </div>
        <div class="register_item">
            <div class="register_title">Почта</div>
            {{ form.email }}
        </div>
        <div class="register_item">
            <div class="register_title">Пароль</div>
            {{ form.password1 }}
        </div>
        <div class="register_item">
            <div class="register_title">Подтверждение пароля</div>
            {{ form.password2 }}
        </div>
        <button class="register_button" type="submit">Регистрация</button>
        <a href="{% url 'users:login' %}" class="register_ref">Авторизация</a>

    </form>
</div>

{{form.errors}}

{% endblock main_area %}