html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

#info_message {

    border:1px solid black;

    background-color:#b4ffa7;
    border-radius: 10px;
    max-width: 500px;
    
    position: fixed;
    top: 150px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    
    z-index: 1000;

    color: black;
    font-family: "Jost", sans-serif;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 2px;
    vertical-align: middle;
    text-align: center;

    
}

body {

    background-image: url('../images/background3.jpg');
    background-repeat: repeat-y;
    height: 100%;
}

.areas_wrapper {

    display: flex;
    justify-content: space-between;

}

.left_area {

    float: left

}

.main_area {

    float: left

}

.right_area {

    float: left

}

.header_right_area {

    vertical-align: right;
    position: absolute;
    right: 140px;

}


.profile_ref {

    text-decoration: none;
    color: aliceblue;
    font-family: "Jost", sans-serif;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 2px;

}

.return_to_home_ref {

    text-decoration: none;
    color: aliceblue;
    font-family: "Jost", sans-serif;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 2px;

}

.profile_ref:hover, .return_to_home_ref:hover {

    color: #e04700;
    text-shadow: #8d4000 1px 1px 3px,
                 #552600 1px 1px 4px,
                 
}

.main_title {

    color:#ffeee0;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 90px;
    letter-spacing: 7px;
    text-shadow: #f14c00 7px 7px 0px;
    position: absolute;
    text-align: center;
    vertical-align: middle;

}

.main_wrapper {

    background-color: #100B07;
    width: 100%;    
    height: 150px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.filters_form, .cart_form, .profile_navigation_wrapper {

    background-color: #100B07;
    border-color: #802900;
    border-width: 3px;
    border-radius: 10px;
    width: 400px;
    max-height: 100%;
    margin: 10px 40px 10px 40px;
    padding: 10px;
    position: sticky;
    top: 10px;

}


.filters_title, .cart_title, .user_data_title, .profile_includes_title {

    color:#ff7300;
    font-family: "Jost", sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
    text-decoration: underline;
    vertical-align: top;
    padding-top: 30px;
    padding-bottom: 10px;
    
}

.index_btn {

    width: 120px;
    height: 40px;
    background-color: #922e00;
    border-width: 1px;
    border-color: #ffb491;
    border-radius: 10px;
    display: block;
    margin: 20px auto;

    font-family: "Jost", sans-serif;
    color:#100B07;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;

}

.index_btn:hover {

    background-color: #e04700;
    box-shadow: 1px 1px 20px 3px #552600,
                1px 1px 20px 3px #5b2900,
                1px 1px 20px 3px #8d4000,
                1px 1px 20px 3px #502400;
    color:aliceblue;
    text-shadow: aliceblue 1px 1px 10px;

}

#clear_filters_text {

    display: block;
    margin: 20px auto;
    width: fit-content;
    text-transform: uppercase;
    color: aliceblue;
    font-family: "Jost", sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;

}

#clear_filters_text:hover {

    color: #e04700;
    text-shadow: #8d4000 1px 1px 3px,
                 #552600 1px 1px 4px,

}

.filters_element {

    max-width: 300px;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    gap: 15px;

}

.user_data_element {

    max-width: 200px;
    margin: 30px auto;
    display: flex;
    justify-content:left;
    gap: 15px;

}

.filters_text, .user_data_value {

    color: aliceblue;
    font-family: "Jost", sans-serif;
    font-size: 18px;
    letter-spacing: 2px;

}

.user_data_label {

    color:#b15000;
    font-family: "Jost", sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
}

.filters_checkbox {

    transform: scale(1.5);

}

.price_filter_title {

    color:aliceblue;
    font-family: "Jost", sans-serif;
    font-size: 18px;

}

.price_from_label {

    color: aliceblue;
    font-family: "Jost", sans-serif;
    font-size: 14px;

}

.price_to_label {

    color: aliceblue;
    font-family: "Jost", sans-serif;
    font-size: 14px;

}

.filter_price_input {

    max-width: 100px;

}

.price_limit {

    display: flex;
    flex-direction: column;
    align-items: center;

}

.price_filter_element {

    display: flex;
    margin: 0 auto;
    flex-direction: row;

}

.container {

    width: 100%;
    max-width: 1000px;
    padding: 0 15px;
    margin: 0 auto;

}

.container_cards {

    display: grid;
    grid-column-gap: 70px;
    grid-row-gap: 10px;
    width: 100%;
    grid-template: repeat(3, 1fr) / repeat(2, 2fr);
    grid-auto-rows: max-content;
    justify-content: center;
    justify-items: center;
    overflow: scroll;

}

.product_card {

    margin: 0 auto;
    vertical-align: center;
    margin-top: 10px;
    width: 400px;
    min-height: 590px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    position: relative;
    transition: 0.2s;
    background-color: #3e1f00;

    box-shadow: -5px -5px 40px 5px black;

}

.pagination {

    justify-content: center;
    margin: 30px auto;

}

.current {

    background-color: aliceblue;
    color: #3e1f00;
    border: 2px solid #3e1f00;
    border-radius: 7px;
    font-family: "Jost", sans-serif;
    font-size: 24px;
    padding: 10px 10px;
    margin: 0px 5px;

}

.first_page, .previous_page, .next_page, .last_page {

    background-color:#3e1f00;
    color: #fcf5ee;
    border: 2px solid #3e1f00;
    border-radius: 7px;
    font-family: "Jost", sans-serif;
    font-size: 24px;
    padding: 10px 10px;
    margin: 0px 0px;

}

.first_page:hover, .previous_page:hover, .next_page:hover, .last_page:hover {

    background-color:#e04700;
    color:#100B07;
    font-family: "Jost", sans-serif;
    font-size: 24px;
    padding: 10px 10px;
    margin: 0px 0px;

}

/*=====*/

.card_button {

    width: 170px;
    height: 35px;
    background: #922e00;
    border-width: 1px;
    border-color: #ffb491;
    border-radius: 10px;
    display: block;
    margin: 20px auto;

    font-family: "Jost", sans-serif;
    color:#100B07;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;

    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 15px;
    margin-bottom: 30px;

}

.card_button:hover {

    background-color: #e04700;
    box-shadow: 1px 1px 10px 2px #b15000,
                1px 1px 10px 2px #b15000,
                1px 1px 10px 2px #b15000,
                1px 1px 10px 2px #b15000;

    color:aliceblue;
    text-shadow: aliceblue 1px 1px 10px;

}

.card_discount_wrapper {

    width: 70px;
    height: 30px;

    position: absolute;
    top: 10px;
    right: 15px;
    background-color:#e04700;
    border-width: 2px;
    border-radius: 5px;
    border: 2px solid #501900;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.card_discount {

    font-family: "Jost", sans-serif;
    color: aliceblue;
    font-size: 18px;
    margin: 0 auto;

}

.card_prices {

    display: flex;
    align-items: center;

}

.card_final_price {

    font-family: "Jost", sans-serif;
    color: aliceblue;
    font-size: 18px;
    padding-left: 15px;

}

.card_price_no_discount {

    font-family: "Jost", sans-serif;
    color: aliceblue;
    font-size: 16px;
    text-decoration: line-through;
    padding-left: 15px;

}

.card_title {

    text-decoration: underline;
    font-family: "Jost", sans-serif;
    color: #f14c00;
    font-size: 24px;
    padding-left: 15px;

}

.card_scoville_value {

    font-family: "Jost", sans-serif;
    color: #ffeee0;
    font-size: 18px;
    padding-left: 15px;

}

.card_image {

    max-width: 400px;

}

.login_main_title, .register_main_title {

    font-family: "Jost", sans-serif;
    color: aliceblue;
    font-size: 42px;
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: 5px;
    margin: 45px auto;
    font-weight: bold;

}

.login_item, .register_item {

    margin: 0 auto;
    width: 350px;

}

.form_label {

    font-family: "Jost", sans-serif;
    color: #ffeee0;
    font-size: 20px;
    text-transform: 5px;

}

.form_choice_label {

    font-family: "Jost", sans-serif;
    color:aliceblue;
    font-size: 18px;
    text-transform: 5px;

}

.login_title, .register_title {

    font-family: "Jost", sans-serif;
    color: #ffeee0;
    font-size: 20px;
    text-transform: 5px;
    margin-bottom: 10px;

}

.login_input, .register_input {

    font-family: "Jost", sans-serif;
    font-size: 18px;
    width: 350px;
    height: 30px;
    margin: 0 auto;

}

.login_button {

    width: 120px;
    height: 40px;
    border-radius: 5px;
    background-color: #f9c0a6;
    border-width: 1px;
    border-color: #ff6d29;
    border-radius: 10px;
    margin: 0px auto;

    font-family: "Jost", sans-serif;
    color:#100B07;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 4px;

}

.login_button:hover, .register_button:hover {

    background-color: #e04700;
    box-shadow: 1px 1px 10px 2px #b15000,
                1px 1px 10px 2px #b15000,
                1px 1px 10px 2px #b15000,
                1px 1px 10px 2px #b15000;
    color:aliceblue;
    text-shadow: aliceblue 1px 1px 10px;

}

.register_button {

    width: 200px;
    height: 40px;
    border-radius: 5px;
    background-color: #f9c0a6;
    border-width: 1px;
    border-color: #ff6d29;
    border-radius: 10px;
    margin: 0px auto;

    font-family: "Jost", sans-serif;
    color:#100B07;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 4px;

}

.register_ref, .logout_ref {

    text-decoration: none;
    color: aliceblue;
    font-family: "Jost", sans-serif;
    font-size: 20px;
    letter-spacing: 4px;
    margin: 0 auto;
    margin-bottom: 30px;

}

.register_ref:hover, .logout_ref:hover {

    color: #e04700;
    text-shadow: #8d4000 1px 1px 3px,
                 #552600 1px 1px 4px,
                 
}

.login_form, .register_form {

    background-color: #100B07;
    border-color: #802900;
    border-width: 3px;
    border-radius: 10px;
    width: 500px;
    max-height: 100%;
    margin: 40px 40px 10px 40px;
    padding: 10px;
    position: sticky;
    top: 10px;

    display: flex;
    flex-direction: column;
    gap:25px;

}

.user_data_form {

    background-color: #100B07;
    border-width: 3px;
    border-radius: 10px;
    width: 250px;
    max-height: 100%;
    margin: 10px 40px 10px 40px;
    padding: 10px;
    position: sticky;

    display: flex;
    flex-direction: column;
    gap:25px;

}

.profile_header {

    background-color: #632d00;
    width: 100%;    
    height: 150px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cart_product_wrapper {

    max-width: 90%;
    max-height: 100%;
    border-radius: 5px;
    background-color: #3e1f00;
    border:1px solid rgb(255, 235, 226);
    margin: 10px auto;

}

.cart_product_title {

    font-family: "Jost", sans-serif;
    color:#ff915e;
    font-size: 20px;
    text-transform: 5px;
    text-decoration: underline;

}

#cart_trash_svg_path {

    stroke:#ffeee0;

}

.cart_top_row, .cart_middle_row, .cart_bottom_row {

    max-width: 90%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;

}

.cart_quantity_row {

    max-width: 40%;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    gap: 15px;

}

#cart_quantity_value {

    font-family: "Jost", sans-serif;
    color:aliceblue;

}

.cart_decrement_button, .cart_increment_button {

    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: #100B07;
    color:aliceblue;
    border: none;

    font-family: "Jost", sans-serif;
    font-size: 14px;
    
}

.cart_decrement_button:hover, .cart_increment_button:hover {

    background-color:#b15000;
    color:#100B07;

}

.cart_product_total {

    font-family: "Jost", sans-serif;
    color:aliceblue;
    font-size: 18px;
    text-transform: 5px;

}

.cart_main_quantity, .cart_main_total {

    font-family: "Jost", sans-serif;
    color: #ffeee0;
    font-size: 18px;

}


.profile_main_wrapper {

    width: 1000px;
    margin: 10px auto;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color:#100B07;
    border-radius: 10px;

}

#profile_order_button {

    width: 120px;
    height: 40px;
    background-color: #922e00;
    border-width: 1px;
    border-color: #ffb491;
    border-radius: 10px;

    /*margin-left: 800px;*/
    margin-top: 10px;
    margin-bottom: 40px;

    font-family: "Jost", sans-serif;
    color:#100B07;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;

}

#profile_order_button:hover {

    background-color: #e04700;
    box-shadow: 1px 1px 10px 2px #b15000,
                1px 1px 10px 2px #b15000,
                1px 1px 10px 2px #b15000,
                1px 1px 10px 2px #b15000;
    color:aliceblue;
    text-shadow: aliceblue 1px 1px 10px;

}

.profile_navigation_list {

    width: 300px;
    margin: 0 auto;

}

.profile_navigation_li {

    display: block;
    margin: 10px auto;

}

.profile_navigation_text {

    text-decoration: none;
    color:#ffeee0;
    font-family: "Jost", sans-serif;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 2px;
    padding-bottom: 30px;

}

.profile_navigation_text:hover {

    color: #e04700;
    text-shadow: #8d4000 1px 1px 3px,
                 #552600 1px 1px 4px,

}

#create_order_form {

    width: 700px;
    max-height: 100%;
    margin: 10px auto;
    padding: 10px;

    display: flex;
    flex-direction: column;
    gap:25px;

}

.form_control {

    font-family: "Jost", sans-serif;
    font-size: 20px;

}

.form-check-inline {

    padding-left: 40px;

}

.order_wrapper {

    max-width: 90%;
    max-height: 100%;
    border-radius: 5px;
    background-color: #fcf5ee;
    border:1px solid rgb(13, 4, 0);
    margin: 10px auto;

}

.order_header, .order_bottom_row {

    display: flex;
    justify-content: space-between;

}

.order_id_row, .order_status_row, .order_total_row, .order_received_timestamp_row, .order_received_total_row, .order_row, 
.delivery_item_row {

    display: flex;
    padding: 10px 10px;

}

.delivery_row {

    display: flex;
    padding: 10px 10px;
    margin-left: 50px;

}

.order_title, .delivery_item_title {

    font-family: "Jost", sans-serif;
    font-size: 24px;
    text-decoration: underline;
    color:#552600;

}

.delivery_title {

    font-family: "Jost", sans-serif;
    font-size: 24px;
    text-decoration: underline;
    color:hsl(19, 82%, 56%);

}

.order_value, .delivery_item_value {

    padding-left: 5px;
    font-family: "Jost", sans-serif;
    font-size: 24px;
    color:#802900;

}

.order_status_processing_value {

    font-family: "Jost", sans-serif;
    font-size: 24px;
    color:rgb(232, 104, 0);
    padding-left: 5px;

}

.order_status_prepeared_value {

    font-family: "Jost", sans-serif;
    font-size: 24px;
	color: green;
    padding-left: 5px;
}

.delivery_value {

    padding-left: 5px;
    font-family: "Jost", sans-serif;
    font-size: 24px;
    color:#fcf5ee;

}

.delivery_status_processing_value {
    font-family: "Jost", sans-serif;
    font-size: 24px;
    color:rgb(255, 152, 68);
    padding-left: 5px;
}

.delivery_status_ready_value {
    font-family: "Jost", sans-serif;
    font-size: 24px;
	color: green;
    padding-left: 5px;
}

.delivery_item_wrapper {

    max-width: 90%;
    max-height: 100%;
    border-radius: 5px;
    background-color:#ffeee0;
    margin: 10px auto;

}

.delivery_items_container {

    margin: 0 auto;

}