{% extends 'base.html' %}

{% load static %}

{% block header_right_area %}

    <a href="{% url 'users:profile' %}" class="profile_ref">Профиль</a>

{% endblock header_right_area %}

{% block left_area %}

<form class="filters_form" action="{% url 'home' %}" method="get">
    <div class="filters_title">Фильтры</div>
    <ul class="filters_list">
        <li class="filters_element"><div class="filters_text">Товары со скидкой</div>
            <input type="checkbox" class="filters_checkbox" id="sales_filters" name="only_sales" value="on">
        </li>
        <li class="filters_element"><div class="filters_text">По убыванию цены</div>
            <input type="radio" class="filters_radio" name="order_by" value="-price">
        </li>
        <li class="filters_element"><div class="filters_text">По возрастанию цены</div>
            <input type="radio" class="filters_radio" name="order_by" value="price">
        </li>
        <li class="filters_element"><div class="filters_text">По умолчанию</div>
            <input type="radio" class="filters_radio" name="order_by" value="default">
        </li>
        <li class="filters_element">
            <div class="price_filter_title">Цена</div>
            <div class="price_limit">
                <input type="text" class="filter_price_input" id="lower_price_limit" name="lower_price_limit">
                <div class="price_from_label">От</div>
            </div>
            <div class="price_limit">
                <input type="text" class="filter_price_input" id="upper_price_limit" name="upper_price_limit">
                <div class="price_to_label">До</div>
            </div>
        </li>
    </ul>
    <button id="clear_filters_btn" type="submit" class="index_btn">Очистить</button>
</form>

{% endblock left_area %}

{% block main_area %}

<div class="container">
    <div class="container_cards" id="products_container">

        {% include "shop/includes/products.html" %}

    </div>
</div>         

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a class="first_page" href="?page=1">&laquo; Первая</a>
            <a class="previous_page" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
        {% endif %}

        <span class="current">
            {{ page_obj.number }}
        </span>

        {% if page_obj.has_next %}
            <a class="next_page" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
            <a class="last_page" href="?page={{ page_obj.paginator.num_pages }}">Последняя &raquo;</a>
        {% endif %}
    </span>
</div>


{% endblock main_area %}

{% block right_area %}

<form class="cart_form" action='{% url "users:profile" %}'>
    <div class="cart_title">Корзина</div>
        <div id="cart-items-container">
            {% include "carts/includes/cart.html" %}
        </div>
    <button id="make_order_btn" class="index_btn">Заказать</button>
</form>

{% endblock right_area %}