{% extends 'base.html' %}

{% load static %}

{% block header_right_area %}

<a href="{% url 'users:login' %}" class="profile_ref">Профиль</a>

{% endblock header_right_area %}

{% block left_area %}

<form class="filters_form" method="get">
    <div class="filters_title">Фильтры</div>
    <ul class="filters_list">
        {% for pepper in pepper_list %}
        <li class="filters_element"><div class="filters_text">{{pepper.pepper_type}}</div>
            <input type="checkbox" class="filters_checkbox" name = {{pepper.pepper_type}} ></li>
        {% endfor %}
        <li class="filters_element">
            <div class="price_filter_title">Цена</div>
            <div class="price_limit">
                <input type="text" class="filter_price_input">
                <div class="price_from_label">От</div>
            </div>
            <div class="price_limit">
                <input type="text" class="filter_price_input">
                <div class="price_to_label">До</div>
            </div>
        </li>
    </ul>
    <button id="add_filters_btn" class="index_btn" onclick="applyFilters()">Применить</button>
    <div id="clear_filters_text" onclick="clearFilters()">Очистить фильтры</div>
</form>

{% endblock left_area %}

{% block main_area %}

<div class="container">
    <div class="container_cards">

        {% for pepper in products %}

        <div class="card">
            <div class="card_top">
                {% if pepper.discount %}
                <div class="card_discount_wrapper">
                    <span class="card_discount">-{{pepper.discount}}%</span>
                </div>
                {% endif %}
                <image class="card_image" src="{{pepper.image.url}}" alt={{pepper.pepper_type}}></image>
            </div>
            <div class="card_bottom">
                <div class="card_prices">
                    <div class="card_final_price">{{pepper.get_final_price}} ₽</div>
                    {% if pepper.discount %}
                    <div class="card_price_no_discount">{{pepper.price_no_discount}} ₽</div>
                    {% endif %}
                </div>
                {% with pepper.pepper_type|add:' '|add:pepper.pepper_color|add:', '|add:pepper.number_of_seeds|add:' seeds' as name %}
                    <div class="card_title">{{name}}</div>
                    <div class="card_scoville_value">2.200.000 shu</div>
                </div>
            <button class="card_button">В корзину</button>
        </div>      
        
        {% endwith %}
        {% endfor %}

    </div>
</div>         

{% endblock main_area %}

{% block right_area %}

<form class="cart_form">
    <div class="cart_title">Корзина</div>
    <button id="make_order_btn" class="index_btn">Заказать</button>
</form>

{% endblock right_area %}